@import url(http://fonts.googleapis.com/css?family=Roboto);

h2 {
    margin:0px;
    margin-bottom:10px;
}
.nav {
	padding-right: 0;
}

.navbar-nav {
	float: right;
}

th {
	text-align: right;
}

.navbar-nav > li {
	float: right;
}


.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: right;
}

.m-b-20 {
	margin-bottom: 20px;
}

body {
	background-color: #0866c6;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	
}

.center-screen {
	height: 30%;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 0;
	left: 0;
	text-align:center;
}

#login {
	
}
.btn-social {
	-moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	text-align: center;
	max-width: 476px;
	margin: auto;
}
.facebook-button {
	display: block;
	border: 1px solid #0c57a3;
	padding: 10px;
	background: #0972dd;
	width: 100%;
	color: #fff;
	
}
.btn-social.btn-facebook:hover {
  background: #1e82e8;
}


.btn-hmluw {

	border-color: rgba(0,0,0,0.2);
	background-color: #3b5998;

	margin: auto;

	color: #fff;
	font-size: 16px;
}

.btn-hmluw:hover {
	background-color:#5E6E7E;
	color:#fff;
}
.nav-tabs {
	border:0px;
}
.tabs .nav-tabs>li>a {
	border:0px;
}
.tabs .nav-tabs>li>a:hover {
	background-color: #28282E;
	margin-right: 0px;
	border: 0px;
}
.tabs .nav-tabs>li>a {
	border-radius: 0px;
	margin-right: 0px;
}
.tabs .nav-tabs>li.active>a, .tabs .nav-tabs>li.active>a:hover, .tabs .nav-tabs>li.active>a:focus {
	background-color:#3B5998;
	border:0px;
	  color: #fff;
}
.nav-tabs>li {
	.nav-tabs>li
}
.tabs li{
	background-color: #3B5998;
  	color: #fff;
  	margin-right: 6px;
}
.tabs li:hover{

}
.tabs li a{
	  background-color: #28282E;
  	color: #fff;
}
.box-count {
	background-color: #28282E;
  width: 125px;
  height: 125px;
  padding: 20px;
  font-size: 20px;
  float:right;
  margin-left:5px;
  text-align:center;
}
.box-count i{
	display: block;
}

.result {
	margin:auto;
	margin-top:10px;
}

.margin10 {
	margin-top:10px;
}  
.tab-pane {
	  background-color: #3B5998;
	  padding:20px;
	    border: 1px solid #fff;
    border-top: 0px solid #fff;
}

.tab-pane ul>li {
  	list-style-type: decimal;
}
.tab-pane ul>li>i {
	  padding: 1px 10px;
}

.panel-box {
	border-width: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	border-radius: 3px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
    overflow:auto;
	color:#28282E;
}
.panel-box .panel-header{
	padding:5px 5px 10px 12px;
	text-align:left;
}
.panel-box .center-panel {
	text-align:center;
}
.panel-box .bottom-panel {
	padding:7px;
	 text-align: left;
}
.center-panel ul {
	overflow:auto;
}
.row-li {
	display: block;
	  width: 90%;
	height: 30%;
	float: left;
	text-align: left;
	margin-bottom: 10px;
}

.panel-box .center-panel ul{
    list-style: none;
}
.panel-box .center-panel li{
	list-style: none;
}

.panel-box.likes-list .center-panel .comment .profile{
    
}
.panel-box.likes-list .center-panel .comment .likes{
    
}
.panel-box.likes-list .center-panel .comment .profile .name{
    display:block;
}

.panel-box.photos .center-panel .comment{
    list-style: none;
    display: inline-table;
    max-width:470px;
    max-height:352px;
    width: 100%;
    height: 100%;
    margin: 0px 0px 15px 0px;
    color:#4e5665;
    border:1px solid #dfe0e4;
    padding:5px;
}

.panel-box.photos .center-panel .comment .header  img{
   width:40px;
   float: left;
   height: 40px;
}
.panel-box.photos .center-panel .comment .header {
   text-align:left;
}

.panel-box.photos .center-panel .comment .text {
   clear: both;
       text-align: left;
}

.panel-box.photos .center-panel .comment .header span{
   
} 
.panel-box.photos .center-panel .comment .header .profile-name{
    color:#3b5998;
    font-weight: bold;
    font-size: 14px;
        display: block;
            line-height: 14px;
}
.panel-box.photos .center-panel .comment .header .info{
    color:#9197a3;
    font-size: 12px;
    float: left;
    padding-left: 10px;
    padding-top:2px;
}
.panel-box.photos .center-panel .comment .header .small-likes{
        float: right;
    font-size: 30px;
    line-height: 40px;
}
.panel-box.photos .center-panel .comment img{
    width:100%;
    height:100%;
}

.panel-box.photos .center-panel .comment .video > iframe{
      max-width: 470px;
  max-height: 352px;
}

.panel-box.photos .center-panel .comment .video {
    position:relative;
}

.panel-box.photos .center-panel .comment .video .play-cursor{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 60px;
}

.sharing_button {
    font-style: initial;
    font-family: arial;
    font-size: 12px;
    padding: 3px;
    font-weight: bold;
    width:64px;
}

.number {
    background: url('/static/images/numbering.png');
    width: 53px;
    height: 56px;

    position: absolute;
    right: 65px;
    top: 42px;
    z-index: 0;
}
.number-1 {
    background-position: 754px -8px;
}