{% extends "base.html" %}

{% block main_content %}
    <div class="continer">
    <div id="login" class='center-screen col-lg-8 col-sm-offset-4 col-sm-10 col-sm-offset-1'>
        <h1 class='text-center'>How Much Likes You Worth ? </h1>
        <div class="fHow Much Likes You Worth ?How Much Likes You Worth ?orm-group" id="warper">        
                <a class="btn btn-lg btn-block btn-hmluw" id="count"
                        href="">
                    Count My Likes
                </a>
        </div>
        <input type='hidden' id='fb_id' name='fb_id' value='{{fb_id}}'/>
        {% csrf_token %}
    </div>
    <div id="result">
    </div>
    <div id="fb-root"></div>



   

    </div>  
{% endblock %}

{% load staticfiles %}
{% block js %}
    <script src="{% static "js/scripts.js" %}"></script>

    <script id="entry-likes-number" type="text/x-handlebars-template">
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-box">
                <div class="panel-header">{% templatetag openvariable %}title{% templatetag closevariable %}</div>
                <div class="center-panel">

                <h2><i class="fa {% templatetag openvariable %}icon{% templatetag closevariable %}">{% templatetag openvariable %}value{% templatetag closevariable %}</i></h2></div>
                <div class="bottom-panel">
                </div>
            </div>
        </div>
    </script>

    <script id="entry-likes-list" type="text/x-handlebars-template">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-box likes-list">
                <div class="panel-header">{% templatetag openvariable %}title{% templatetag closevariable %}</div>
                <div class="center-panel">
                    {% templatetag openvariable %}#each value{% templatetag closevariable %}
                        <li class="comment">
                            <div class='profile'>
                                <img src="{% templatetag openvariable %}pic_small{% templatetag closevariable %}">
                                <span class='name'>
                                {% templatetag openvariable %}name{% templatetag closevariable %}
                                </span>
                            </div>
                            <div class='likes'>
                            <i class="fa fa fa-thumbs-o-up">{% templatetag openvariable %}total_likes{% templatetag closevariable %}</i>
                            </div>
                        </li>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </div>
                <div class="bottom-panel">
                </div>
            </div>
        </div>
    </script>



    <script id="entry-likes-list-photos" type="text/x-handlebars-template">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-box photos">
                <div class="panel-header">{% templatetag openvariable %}title{% templatetag closevariable %}</div>
                <div class="center-panel">
                    {% templatetag openvariable %}#each value user_data{% templatetag closevariable %}
                        <div class="comment">
                            <div class='header'>
                                <img src="{% templatetag openvariable %}profile.profile_photo.data.url{% templatetag closevariable %}">
                                <div class="info">
                                    <span class="profile-name">
                                        {% templatetag openvariable %}profile.name{% templatetag closevariable %}
                                    </span>

                                    <span class="date">

                                        {% templatetag openvariable %}created_time{% templatetag closevariable %}
                                    </span>
                                </div>
                                <div class='small-likes'>
                                <i class="fa fa fa-thumbs-o-up">{% templatetag openvariable %}likes.summary.total_count{% templatetag closevariable %}</i>
                                </div>
                            </div>
                            <div class='text'>

                            {% templatetag openvariable %}name{% templatetag closevariable %}
                            </div>
                            <div class='image'>
                                <img src="{% templatetag openvariable %}images.[0].source{% templatetag closevariable %}">
                            </div>
                           
                            
                        </div>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </div>
                <div class="bottom-panel">
                </div>
            </div>
        </div>
    </script>

    <script id="entry-likes-list-videos" type="text/x-handlebars-template">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-box photos">
                <div class="panel-header">{% templatetag openvariable %}title{% templatetag closevariable %}</div>
                <div class="center-panel">
                    {% templatetag openvariable %}#each value user_data{% templatetag closevariable %}
                        <div class="comment">
                            <div class='header'>
                                <img src="{% templatetag openvariable %}profile.profile_photo.data.url{% templatetag closevariable %}">
                                <div class="info">
                                    <span class="profile-name">
                                        {% templatetag openvariable %}profile.name{% templatetag closevariable %}
                                    </span>

                                    <span class="date">

                                        {% templatetag openvariable %}created_time{% templatetag closevariable %}
                                    </span>
                                </div>
                                <div class='small-likes'>
                                <i class="fa fa fa-thumbs-o-up">{% templatetag openvariable %}likes.summary.total_count{% templatetag closevariable %}</i>
                                </div>
                            </div>
                            <div class='text'>

                           {% templatetag openvariable %}name{% templatetag closevariable %}
                            </div>
                            <div class='video'>
                               {% templatetag openbrace %}{% templatetag openvariable %}embed_html{% templatetag closevariable %}{% templatetag closebrace %}
                            </div>
                           
                            
                        </div>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </div>
                <div class="bottom-panel">
                </div>
            </div>
        </div>
    </script>




    <script id="entry-likes-list-posts" type="text/x-handlebars-template">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-box photos">
                <div class="panel-header">{% templatetag openvariable %}title{% templatetag closevariable %}</div>
                <div class="center-panel">

                    {% templatetag openvariable %}#posts value{% templatetag closevariable %}
                        <li class="comment">

                        <div class="fb-post" data-href="https://www.facebook.com/{% templatetag openvariable %}user_id{% templatetag closevariable %}/posts/{% templatetag openvariable %}post_id{% templatetag closevariable %}" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/{% templatetag openvariable %}user_id{% templatetag closevariable %}/posts/{% templatetag openvariable %}post_id{% templatetag closevariable %}">Posted by <a href="#" role="button">Yuri Ritvin</a> on&nbsp;<a href="https://www.facebook.com/{% templatetag openvariable %}user_id{% templatetag closevariable %}/posts/{% templatetag openvariable %}post_id{% templatetag closevariable %}">Monday, July 27, 2015</a></blockquote></div></div>
                        </li>
                    {% templatetag openvariable %}/posts{% templatetag closevariable %}
                </div>
                <div class="bottom-panel">
                </div>
            </div>
        </div>
    </script>
{% endblock %}