{% extends "base.html" %}

{% block main_content %}
    <div class="continer">
    <div id="login" class='center-screen col-lg-8 col-sm-offset-4 col-sm-10 col-sm-offset-1'>
        <h1 class='text-center'>How Much Likes You Worth ? </h1>
        <div class="fHow Much Likes You Worth ?How Much Likes You Worth ?orm-group" id="warper">        
                <a class="btn btn-lg btn-block btn-hmluw" id="count"
                        href="">
                    Count My Likes
                </a>
        </div>
        <input type='hidden' id='fb_id' name='fb_id' value='{{fb_id}}'/>
        {% csrf_token %}

    </div>
    </div>  
    <div class='hidden' id='box-template'>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-box">
                <div class="panel-header">
                    
                </div>
                <div class="center-panel">
                    
                </div>
                <div class="bottom-panel">
                    
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% load staticfiles %}
{% block js %}
    <script src="{% static "js/scripts.js" %}"></script>
{% endblock %}